env.txt
/outputs/*
.DS_Store
.cache
__pycache__/earp_auth.cpython-312.pyc
token.txt
venv
__pycache__/discord_announce.cpython-312.pyc
Spotify_Collab_Playlist.code-workspace
__pycache__/earp_cycle_monthly.cpython-312.pyc
discord.log
/!archive
.env
env
